
#main-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--theme-dark);
    z-index: 100;
}

.navbar-wrap{
    padding: 0 3vw;
}

.nav-control{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
}

.nav-logo-control{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.brand-logo-text{
    margin: 0;
    font-size: 30px;
}

.nav-contents{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-image{
    height: 30px;
    width: 30px;
}

.profile-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.sidebar{
    height: calc(100vh - var(--header-height));
    position:fixed;
    top: var(--header-height);
    left: 0;
    width: var(--sidebar-width);
    background: #080808bf;
    backdrop-filter: blur(20px);
    overflow-y: scroll;
    z-index: 50;
    transform: translateX(-100%);
    transition: all 0.3s cubic-bezier(0.83, 0.17, 0.34, 0.72);
}

.sidebar.active{
    transform: translateX(0);

}

.sidebar-links{
    list-style: none;
    padding: 15px;
}

.sidebar-links li{
    position: relative;
    background: #80808000;
    padding: 9px 16px;
    border-radius: 8px;
    font-size: 18px;
    margin: 8px 0;
    backdrop-filter: blur(10px);
    border: 1px solid #ffffff0a;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.sidebar-links li .glow-link{
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    z-index: 5;
    pointer-events: none;
    background-color: white;
    filter: blur(30px);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.sidebar-links li:hover .glow-link{
    opacity: 1;
}

.sidebar-links li svg{
    margin-right: 14px;
}