
#main-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--theme-dark);
    z-index: 100;
}

.nav-control{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
}

.nav-contents{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-image{
    height: 30px;
    width: 30px;
}

.profile-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.sidebar{
    height: calc(100vh - var(--header-height));
    position:fixed;
    top: var(--header-height);
    left: 0;
    width: var(--sidebar-width);
    background: var(--theme-dark);
    overflow-y: scroll;
    z-index: 50;
    transform: translateX(-100%);
    transition: all 0.3s cubic-bezier(0.83, 0.17, 0.34, 0.72);
}

.sidebar.active{
    transform: translateX(0);

}